*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

html {
	background-color: #428ade;
}

body {
  padding: 100px 0;
  font-family: 'avenir next', 'avenir', sans-serif;
  background: #428ade url('images/bottom-bg.png') repeat-x center bottom;
  background-size: 100% 50%;
  background-attachment: fixed;
  position: relative; // added for pseudo-element
}

body::before {
  content: ' ';
  position: fixed; // instead of background-attachment
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url('images/bottom-bg.png') repeat-x center bottom;
  will-change: transform; // creates a new paint layer
  z-index: -1;
}

#MainContainer {
  width: 960px;
  margin: 0 auto;
}

p {
  line-height: 1.5;
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: baskerville;
}

.Header {
  width: 100%;
}

.Header-logo {
  margin-bottom: 0;
}

.Header-logo a {
  display: inline-block;
  border: 0;
  text-shadow: none;
  color: #fff;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  line-height: 72px;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 72px;
  font-weight: 600;
}

.Header-logo a:hover {
  background-color: transparent;
}

.Page {
  background-color: white;
  width: 100%;
  padding: 36px 0 94px 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.Post-content {
  overflow: auto;
  padding: 0 124px;
}

.Post-title {
  font-size: 72px;
  text-align: center;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 24px;
}

.Post-meta {
  text-align: center;
  font-weight: 400;
  margin-bottom: 72px;
  font-variant: small-caps;
  color: #666;
}

a {
  color: #055abe;
}

a:hover {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}

figure {
  width: 300px;
}

.left {
  float: left;
  margin-left:-48px;
  margin-right: 48px;
}

.right {
  float: right;
  margin-left: 48px;
  margin-right:-48px;
}

figure img {
  width: 100%;
}

figure figcaption {
  padding-top: 4px;
  font-size: 13px;
  color: #666;
}
